*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../img/bg.webp");
    background-size: cover;
}
img{
    max-width: 100%;
}
.b-red{
    border-color: red;
}
.done{
    text-decoration:line-through;
}
.my-container{
    width: 60%;
    margin: 0 auto;
    padding-top: 3rem;
}
.logo{
    text-align: center;
}
.add-task{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.add-task label{
    display: none;
}
#task{
    border-radius: 10px;
    margin-right: .5em;
}
#submit{
    border-radius: 10px;
    padding: .5em;
}
.task-list{
    /* width: 80%; */
    background-color: rgba(192, 255, 197, 0.3);
    border-radius: 20px;
    padding: 1em 2em;
    /* margin: 0 auto; */
    margin-top: 2rem;
}
.task-list ul{
    list-style-type: none;
    line-height: 2.5rem;
}
.task-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.task-list li .delete-task{
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
}
.task-list li .check-task{
    color: green;
    font-size: 1.5rem;
}
.task-list li p{
    cursor: pointer;
}
.error{
    font-size: .7rem;
    color:red;
    text-align: center;
}

